
@model  PropertyDamageCompensation.Web.Areas.Compensation.Models.DamageSurveyItemsViewModel
<div class="MGradient p-2">
    <h4>Propert Damage assessement survey </h4>
</div>

<div class="mt-3">
    <h5>Personal and Application Info</h5>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        Name : @ViewBag.Name
    </div>
    <div class="col-md-7">
        Address : @ViewBag.Address
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        App Number : @ViewBag.AppNumber
    </div>
    <div class="col-md-4">
       App date : @ViewBag.Appdate
    </div>
    <div class="col-md-4">
        Building : @ViewBag.Building
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        Town : @ViewBag.Town
    </div>
    <div class="col-md-4">
        Ikar : @ViewBag.Iksr
    </div>
</div>
<hr/>
