@inject SignInManager<ApplicationUser> sinInManager
@model IEnumerable<PropertyDamageCompensation.Web.Areas.Compensation.Models.DistrictViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="MGradient p-2">
    <h3>List Of Districts</h3>
</div>

@if (sinInManager.IsSignedIn(User) && User.IsInRole("Admin"))
{
<div class="m-3">
    <a style="font-weight:bolder" asp-action="Create">Create New</a>
</div>   
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td align="right" style="font-weight:bolder">
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    @if ( sinInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
